.loginwrap {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 150px;
}

.header {
  display: flex;
  position: relative;
  padding-top: 100px;
  width: 300px;
}
.buttonlist {
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.kakao {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #ffe812;
  padding: 16px;
  gap: 16px;
  align-items: center;
  position: relative;

  width: 300px;
  height: 48px;

  border-radius: 4px;
  cursor: pointer;
  font-family: NotoSansKR_Regular;
}
.google {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border-width: 1px;
  padding: 16px;
  gap: 16px;
  align-items: center;

  position: relative;
  width: 300px;
  height: 48px;

  background-color: white;
  font-family: NotoSansKR_Regular;
  border: 1px solid #D9D9D9;
}
.naver {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;

  position: relative;
  width: 300px;
  height: 48px;

  background: #03c75a;
  border-radius: 4px;
  border: none;
  font-family: NotoSansKR_Regular;
}
.kl {
  width: 24px;
  border-radius: 4px;
}
.gl {
  width: 24px;
}
.nl {
  width: 24px;
  border-radius: 4px;
}
