catch-culture-frontend/index.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#api keys
.env
catch-culture-frontend/sonar-project.properties
catch-culture-frontend/.scannerwork/.sonar_lock
catch-culture-frontend/.scannerwork/report-task.txt
