.listall {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 68px;
  align-items: center;
}

.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 338px;
}

.cateSel {
  position: relative;
  display: flex;
}

.textrow {
  display: flex;
  position: relative;
  align-items: baseline;
  gap: 8px;
  padding-top: 16px;
}
.bookmarkCnt {
  font-size: 12px;
}
.liketext {
  font-size: 20px;
  font-weight: bold;
}

.eventlist {
  display: flex;
  position: relative;
  justify-content: center;
}
.nors {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}
