/* 개인정보 수정 */
.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 10%;
  margin: 0 0 0 -135px;
  gap: 40px;
}

.twobutton {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.putprofile,
.logout {
  cursor: pointer;
  width: 160px;
  height: 32px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 4px;
  box-shadow: inset 4px 4px 4px 0 rgba(255, 255, 255, 0.2),
    inset -4px -4px 4px 0 rgba(116, 125, 136, 0.2),
    -1px -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.profileimage {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.profileimg {
  text-align: center;
}
.nick {
  display: flex;
  position: absolute;
  top: 112%;
  font-size: 12px;
}

/* 버튼 6개 */
.buttonl {
  position: absolute;
  top: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 0 0 -156px;
}

.row1,
.row2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.notify,
.pointhis,
.myreviews,
.mylikes,
.mybookmarks,
.visited {
  display: flex;
  flex-direction: column;
  width: 88px;
  height: 88px;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  background-color: #d9d9d9;
  text-decoration: none;
  box-shadow: inset 4px 4px 4px 0 rgba(255, 255, 255, 0.2),
    inset -4px -4px 4px 0 rgba(116, 125, 136, 0.2),
    -1px -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.notify:hover,
.pointhis:hover,
.myreviews:hover,
.mylikes:hover,
.mybookmarks:hover,
.visited:hover,
.putprofile:hover,
.logout:hover,
.level:hover {
  background-color: #018c0d;
}

/*캐치 레벨 확인*/
.level0img {
  width: 80px;
  border-radius: 40px;
}

.pointlevel {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 76%;
  margin: 0 0 0 -134px;
}

.pointlevelwrap {
  display: flex;
  align-items: center;
  gap: 28px;
}

.level {
  cursor: pointer;
  width: 160px;
  height: 32px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 4px;
  box-shadow: inset 4px 4px 4px 0 rgba(255, 255, 255, 0.2),
    inset -4px -4px 4px 0 rgba(116, 125, 136, 0.2),
    -1px -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}
