.plall {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 40px;
}
.mypointinfo {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}
.levelinfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.levelcolorrow {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
  margin-top: 24px;
}
.greenlev,
.yellowlev,
.pinklev,
.redlev {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}
.greengraph {
  width: 24px;
  height: 40px;
  border-radius: 12px 12px 0 0px;
  background-color: #018c0d;
}
.yellowgraph {
  width: 24px;
  height: 52px;
  border-radius: 12px 12px 0 0px;
  background-color: #f0cc00;
}
.pinkgraph {
  width: 24px;
  height: 64px;
  border-radius: 12px 12px 0 0px;
  background-color: #eb6565;
}
.redgraph {
  width: 24px;
  height: 76px;
  border-radius: 12px 12px 0 0px;
  background-color: #e00000;
}
.levtextinfo {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 12px;
}
.mylevel {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 16px;
}
.mylevtext {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
}
.mylevimg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 12px;
}
.mylevimgbig {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 120px;
  border-radius: 60px;
}
.mylevtextbig {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-weight: bold;
}
.restlev {
  display: flex;
  gap: 32px;
  position: relative;
  padding-top: 36px;
}
.rest1,
.rest2,
.rest3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 12px;
}
.mylevimg1,
.mylevimg2,
.mylevimg3 {
  width: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mylevtext1,
.mylevtext2,
.mylevtext3 {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 12px;
}
