.phisall {
  display: flex;
  position: relative;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.phisbody {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentpoint {
  display: flex;
  position: relative;
  width: 320px;
  height: 24px;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.textcp {
  font-weight: 600;
  font-size: 14px;
}
.curricon {
  display: flex;
  position: relative;
  gap: 4px;
  font-weight: bold;
  font-size: 16px;
}
.pointinfo {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  padding-bottom: 8px;
}
.pointrow1 {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 20px;
  align-items: center;
}
.phdate {
  font-size: 14px;
}
.pointplus {
  background-color: #e00000;
  color: #ffffff;
}
.pointminus {
  background-color: green;
  color: #ffffff;
}
.pointminus,
.pointplus {
  font-size: 11px;
  width: 80px;
  height: 16px;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
  font-weight: bold;
}
.pointcontent {
  font-weight: bold;
}
.pointnum {
  font-weight: bold;
  padding-bottom: 4px;
}
.pointhislist {
  display: flex;
  position: relative;
  flex-direction: column;
}
.gopointusage {
  height: 40px;
  width: 160px;
  border-radius: 40px;
  gap: 12px;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 4px 0 rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px 0 rgba(116, 125, 136, 0.2),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.2), 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.gopointusage:hover {
  background-color: #018c0d;
  color: white;
}
