.phisall {
  display: flex;
  position: relative;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}
.pointbox {
  padding-top: 12px;
}
.currentpoint {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 112px;
  height: 48px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 12px;
  padding: 2px;
}
.textcp {
  font-weight: 600;
  font-size: 12px;
}
.curricon {
  display: flex;
  position: relative;
  gap: 4px;
  font-weight: bold;
  font-size: 16px;
}
.pointinfo {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  padding-bottom: 8px;
}
.pointrow1 {
  display: flex;
  position: relative;
  gap: 160px;
  height: 20px;
  align-items: center;
}
.phdate {
  font-size: 16px;
}
.pointplus {
  background-color: #e00000;
  color: #ffffff;
}
.pointminus {
  background-color: green;
  color: #ffffff;
}
.pointminus,
.pointplus {
  font-size: 11px;
  width: 80px;
  height: 16px;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
  font-weight: bold;
}
.pointcontent {
  font-weight: bold;
}
.pointnum {
  font-weight: bold;
  padding-bottom: 4px;
}
.pointhislist {
  display: flex;
  position: relative;
  flex-direction: column;
}
.gopointusage {
  position: absolute;
  top: 660px;
  padding-top: 10px;
  right: 52px;
  height: 70px;
  width: 80px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: bold;
  background-color: #d9d9d9;
  border-radius: 40px;
  align-items: center;
  box-shadow: inset 4px 4px 4px 0 rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px 0 rgba(116, 125, 136, 0.2),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.2), 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.gopointusage:hover {
  background-color: #018c0d;
  color: white;
}
