.reportwrap {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
}
.reptitle {
  font-weight: bold;
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.repduration {
  font-size: 14px;
}

.reportall {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 320px;
}
.reporttext {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  gap: 4px;
}
.repinfo,
.reportcnt {
  font-size: 12px;
  display: flex;
  position: relative;
  text-align: center;
  font-weight: 100;
}
.replist {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  padding-bottom: 16px;
}

.repb {
  justify-content: center;
  display: flex;
  padding-bottom: 4px;
}
.reportbutton {
  width: 140px;
  height: 28px;
  border-radius: 14px;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px 0 rgba(116, 125, 136, 0.2),
    -1px -1px 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.reportbutton:hover {
  background-color: #018c0d;
}
.nomore {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}
.nomorewicon {
  display: flex;
  gap: 8px;
}
.reportedtitlerow {
  display: flex;
  justify-content: space-between;
}
.isreportedtrue {
  background-color: #018c0d;
  font-size: 12px;
  color: white;
  width: 80px;
  height: 16px;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
  font-weight: bold;
}
.isreportedfalse {
  background-color: #e00000;
  font-size: 12px;
  color: white;
  width: 80px;
  height: 16px;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
  font-weight: bold;
}
