.reviewall {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 68px;
}
.reviewwrap {
  width: 320px;
}
.reviewrow {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.reviewtext {
  font-size: 20px;
  font-weight: bold;
}
.reviewCnt {
  font-size: 12px;
}
.reviewcard {
  display: flex;
  justify-content: center;
}
