#infoArea {
    text-align: center;
}

#infoArea > div {
    width: 300px;
    min-height: 25px;
    margin-left: 45px;
    margin-right: 45px;
    display:inline-block;
}

#titleArea {
   width: 200px !important;
   height: 38px !important;
   text-align: center;
   font: 20px bold;
   font-weight: bold;
   font-family: 'Inter'; /* 적용 안되는듯 */
   margin-top: 40px;
   border-bottom: 2px solid black;
}

#categoryArea {
    width: 40px !important;
    height: 12px !important;
    font-size: 8px;
}

#personalButtonArea > button {
    width: 64px;
    height:28px;
    border-radius: 32px;
    text-align: center;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: white;
    margin-left: 4px;
    margin-right: 4px;
}

#personalButtonArea > button > svg {
    width: 20px;
    height: 20px;
    
}

#personalButtonArea > button > text {
    height: 20px;
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.subTitle {
    width: 100%;
    height: 20px;
    background-color:red;
    font: 14px;
    font-weight: bold;
    text-align: left;
    margin-top: 16px;

}

.infoValue {
    top: 10px;
    width: 100% - 30px;
    background-color:green;
    font-size: 12px ;
    text-align: left;
    padding-left: 30px;
    margin-top: 12px;
}

#visitAuthSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#visitAuthSection > button {
    display: block;
    width: 280px;
    height: 32px;
    border-radius: 10px;
    border: 0px;
    background-color: #018C0D;
    color: white;

    margin-bottom: 10px;
}