body {
  background-color: grey;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  background-color: white;
  background-repeat: repeat;
}

.content {
  flex-grow: 1;
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}